html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
}

.news-title {
  font-size: 1.5rem;
  font-weight: 600;
}

#news {
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  width: 250px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown {
  cursor: pointer;
}

.container {
  margin-top: 2rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  width: 80%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0.5rem 1rem;
}

.news-img {
  flex: 1;
}

.img {
  width: 100%;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
}

.news-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.title {
  width: 100%;
}

.author {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}

.news-content {
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: #000;
  opacity: 0.7;
}

@media all and (min-width: 768px) {
  .card {
    flex-direction: row;
  }

  .author {
    flex-direction: row;
  }

  .news-img {
    display: flex;
    justify-content: flex-end;
  }

  .news-content {
    font-size: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .img {
    width: 300px;
    height: 200px;
  }
}
